<div id="breed" data-animal-id="<%= animal_id %>" data-group-id="<%= group_id %>" data-breed-id="<%= breed_id %>"></div>
<% content_for "javascripts" do %>
  <script src="/js/show_breed.js"></script>
<% end %>
